*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #f0f2f5;
    font-family: 'Open Sans';
}

#left_half_wrapper{
    height: 100vh;
    width: 40%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

#logo{
    font-family: 'Righteous';
    font-size: 22px;
    padding-top: 20px;
    padding-left: 60px;
    /* background-color: aqua; */
}

#post_meme_wrapper{
    width: 40%;
    background-color: white;
    padding: 20px 40px;
    position: fixed;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: -7px 9px 33px 5px rgb(123, 123, 123, 0.2);
}

#heading{
    font-size: 17px;
    font-weight: 700;
}

#post_input_section{
    margin-top: 20px;
}

.text_input_label{
    display: block;
    color: #909090;
    /* font-weight: 600; */
}

.text_input{
    width: 100%;
    font-family: 'Open Sans';
    margin-bottom: 10px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}

#submit_meme_btn, #submit_update_btn{
    min-width: 25%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    /* font-size: 15px; */
    background-color: #5b70ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

#submit_meme_btn:hover, #submit_update_btn:hover{
    background-color: #8293FF;
}

#loading_circle{
    display: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid rgb(197, 197, 197);
    border-top: 2px solid white;
    animation: spin 2s linear infinite;
}

#post_status{
    font-size: 13px;
    font-weight: 600;
}

.submit_btn_text_active{
    display: block;
}

.submit_btn_text_inactive{
    display: none;
}

#right_half_wrapper{
    padding-top: 20px;
    width: 60%;
    margin-left: 40%;
    /* background-color: blue; */
}

.post_card{
    position: relative;
    width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    /* font-family: 'Open Sans'; */
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(134, 134, 134);
}

.update_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    outline: none;
    border: none;
    opacity: 0;
}

.update_btn:hover{
    cursor: pointer;
    animation-name: fade_in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(0.18rem);
}

.meme_owner{
    padding: 15px 20px; 
    font-size: 15px;
    font-weight: 700;
    color: #292929;
    /* background-color: aqua; */
    border-radius: 5px 5px 0px 0px;
}

.meme_caption{
    padding: 0px 20px 15px 20px;
    line-height: 20px;
    font-size: 14px;
}

.meme_image{
    width: 100%;
}

#update_meme_wrapper{
    visibility: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.5);
}

#update_meme_card{
    position: relative;
    display: none;
    width: 40%;
    padding: 20px 40px;
    background-color: white;
}

#radio_label {
    margin-left: 5px;
    color: #909090;
}

#update_options_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#update_window_cancel_btn{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}