<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Righteous&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        
        <div id="left_half_wrapper">
            <p id="logo">Memescape</p>

            <div id="post_meme_wrapper">
                <p id="heading">Share meme</p>
                <div id="post_input_section">
                    <label for="meme_owner_input" class="text_input_label">Meme Owner</label>
                    <input type="text" class="text_input" id="meme_owner_input" placeholder="Enter your full name">
                    <label for="caption_input" class="text_input_label">Caption</label>
                    <input type="text" class="text_input" id="caption_input" placeholder="Be creative with the caption">
                    <label for="meme_url_input" class="text_input_label">Meme URL</label>
                    <input type="text" class="text_input" id="meme_url_input" placeholder="Enter URL of your meme here">
                    <span id="post_status"></span>
                    <button id="submit_meme_btn" onclick="submitMeme()">
                        <div id="loading_circle"></div>
                        <span id="submit_btn_text">Submit Meme</span>
                    </button>
                </div> 
            </div>
        </div>

        <div id="right_half_wrapper">
            <div th:each="post:${Posts}" class="post_card"> 
                <p th:text="${post.getName()}" class="meme_owner">Prabhat Shukla</p>
                <p th:text="${post.getCaption()}" class="meme_caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, perspiciatis.</p>
                <img class="meme_image" th:src="${post.getUrl()}" alt="dsds">
                <button class="update_btn" th:data-thing = "${post.getId()}" onclick="showUpadateMemeWindow(this.getAttribute('data-thing'))">Update</button>
            </div>
            
        </div>

        <div id="update_meme_wrapper">
            <div id="update_meme_card">
                <p id="heading">Update Meme</p>
                <ul id="update_options_list">
                    <li><input type="radio" name="update_option" id="only_url" value="only_url" onclick="displayInput(this)"><label for="only_url" id="radio_label">Only url</label></li>
                    <li><input type="radio" name="update_option" id="only_caption" value="only_caption" onclick="displayInput(this)"><label for="only_caption" id="radio_label">Only caption</label></li>
                    <li><input type="radio" name="update_option" id="both" value="both" checked  onclick="displayInput(this)"><label for="both" id="radio_label">Update both</label></li>
                </ul>
                <label for="new_caption" class="text_input_label" id="new_caption_label">Caption</label>
                <input type="text" class="text_input" id="new_caption" placeholder="Provide your new caption">
                <label for="new_url" class="text_input_label" id="new_url_label">Url</label>
                <input type="text" class="text_input" id="new_url" placeholder="Provide your new url">
                <div id="update_status"></div>
                <button id="submit_update_btn" onclick="updateMeme()">
                    <div id="loading_circle"></div>
                    <span id="submit_update_text">Submit Update</span>
                </button>
                <p id="update_window_cancel_btn" onclick="hideUpdateWindow()">x</p>
            </div>
        </div>
        
        <script th:inline="javascript">

            function submitMeme() {
                var name = document.getElementById("meme_owner_input").value;
                var caption = document.getElementById("caption_input").value;
                var memeUrl = document.getElementById("meme_url_input").value;

                console.log(name + " " + caption + " " + memeUrl);

                var xhr = new XMLHttpRequest();

                var apiServerUrl = "https://api-memescape.herokuapp.com/memes";

                xhr.open('POST',apiServerUrl,true);

                xhr.setRequestHeader('Content-type', 'application/json');

                var requestBody = createPostRequestBody(name, caption, memeUrl);

                document.getElementById("loading_circle").style.display = "block";
                document.getElementById("submit_btn_text").style.display = "none";

                xhr.onload = function() {
                    console.log(xhr.readyState);
                    document.getElementById("loading_circle").style.display = "none";
                    document.getElementById("submit_btn_text").style.display = "block";
                    if (this.status == 200) {
                        document.getElementById("post_status").innerHTML = "Your meme is posted. Refresh the page to see your post."
                    } else {
                        var responseObj = JSON.parse(this.responseText);
                        document.getElementById("post_status").innerHTML = responseObj.messageString;
                    }
                }
                
                xhr.send(requestBody);
            }

            var upadateMemeId = 0;

            function showUpadateMemeWindow(memeId) {

                displayUpdateCard();

                upadateMemeId = memeId;
            }

            
            function updateMeme() {
                
                var updateRequestBody = "";

                var options = document.getElementsByName("update_option");

                var selectedOption = "";

                for (var i in options) {
                    if (options[i].checked) {
                        selectedOption = options[i].value;
                        break;
                    }
                }

                if (selectedOption == "only_url") {
                    var url = document.getElementById("new_url").value;
                    updateRequestBody = JSON.stringify({
                        "url":url
                    });
                } else if (selectedOption == "only_caption") {
                    var caption = document.getElementById("new_caption").value;
                    updateRequestBody = JSON.stringify({
                        "caption":caption
                    });
                } else {
                    var url = document.getElementById("new_url").value;
                    var caption = document.getElementById("new_caption").value;
                    updateRequestBody = JSON.stringify({
                        "url":url,
                        "caption":caption
                    });
                }

                var xhr = new XMLHttpRequest();

                var apiServerUrl = "https://api-memescape.herokuapp.com/memes/"+upadateMemeId;

                xhr.open('PATCH',apiServerUrl,true);

                xhr.setRequestHeader('Content-type', 'application/json');

                xhr.onload = function() {
                    document.getElementById("loading_circle").style.display = "none";
                    document.getElementById("submit_btn_text").style.display = "block";
                    if (this.status == 200) {
                        document.getElementById("update_status").innerHTML = this.responseText;
                    } else {
                        var responseObj = JSON.parse(this.responseText);
                        document.getElementById("update_status").innerHTML = responseObj.messageString;
                    }
                }

                xhr.send(updateRequestBody);
            }
                

            function displayUpdateCard() {
                document.getElementById("update_meme_wrapper").style.visibility = "visible";
                document.getElementById("update_meme_card").style.display = "block";
            }


            function hideUpdateWindow() {
                document.getElementById("update_meme_wrapper").style.visibility = "hidden";
                document.getElementById("update_meme_card").style.display = "none";
            }

            function displayInput(option) {
                console.log(option.value);
                if (option.value == "only_url") {
                    document.getElementById("new_url_label").style.display = "block";
                    document.getElementById("new_url").style.display = "block";
                    document.getElementById("new_caption_label").style.display = "none";
                    document.getElementById("new_caption").style.display = "none";
                } else if (option.value == "only_caption") {
                    document.getElementById("new_url_label").style.display = "none";
                    document.getElementById("new_url").style.display = "none";
                    document.getElementById("new_caption_label").style.display = "block";
                    document.getElementById("new_caption").style.display = "block";
                } else {
                    document.getElementById("new_url_label").style.display = "block";
                    document.getElementById("new_url").style.display = "block";
                    document.getElementById("new_caption_label").style.display = "block";
                    document.getElementById("new_caption").style.display = "block";
                }
            }

            function createPostRequestBody(name, caption, memeUrl) {
                return JSON.stringify({
                    "name":name,
                    "caption":caption,
                    "url":memeUrl
                });
            }
        </script>
    </body>
</html>